
//.footer - _footer.pug

footer.footer
	.container
		ul.list-inline
			li.list-inline-item 
				a(href="#0") 
					| Copyright © 2020 Sitechange.
			li.list-inline-item 
				a(href="#0") 
					| Privacy Policy
			li.list-inline-item 
				a(href="#0") 
					| Terms of Service
	// container
///.footer



