// Head
head
	// Meta
	meta(charset='utf-8')

	// Title
	title Title

	// Viewport 
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	// Description 
	<meta name="description" content="Description">

	<meta name="author" content="author text">


	// Google Fonts 
	// font-family: 'Open Sans', sans-serif
	+css("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap")


	//FONT AWESOME
	+css("fonts/font-awesome/css/font-awesome.min.css")


	// Styles 
	+css('css/application.css')

	// Favicon 
	link(rel='apple-touch-icon', sizes='180x180', href='apple-touch-icon.png')
	link(rel='icon', type='image/png', sizes='32x32', href='favicon-32x32.png')
	link(rel='icon', type='image/png', sizes='16x16', href='favicon-16x16.png')
	link(rel='manifest', href='site.webmanifest')
	link(rel='mask-icon', href='safari-pinned-tab.svg', color='#12c26d')
	meta(name='msapplication-TileColor', content='#00a300')
	meta(name='theme-color', content='#ffffff')
