// .header - _header.pug
header#home.header
	.header-container
		.container-fluid
			nav.navbar.custom-nav.navbar-expand-xl
				a.navbar-brand.link-smooth(href='#0')
					| Sitechange
				.navbar-collapse.mobile-nav
					ul.navbar-nav.ml-auto
						li.nav-item
							a.nav-link(href='#0') Don’t have an account?
						li.nav-item
							a.btn.btn-sm.btn-dark.rounded-pill(href='#0') Sign Up
				// navbar-collapse
		// container
	// header-container



/// .header









